@font-face {
  font-family: didot-roman;
  src: url(../assets/LinotypeDidotRoman.woff);
}

@font-face {
  font-family: helvetica;
  src: url(../assets/Helvetica.woff);
}

@font-face {
    font-family: jetbrains;
    src: url(../assets/JetBrainsMono-Regular.woff2)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.no-scrollbar {
    /* Hide scrollbar for Firefox */
    scrollbar-width: none; 
    
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

:root {
    --darkAccentColor: #4e4e4e;
    --tracklistNumColor: #c0c0c0;
}

* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

body {
    background-color: #111111;
    align-items: top;
    /*display: flex;*/
    /*justify-content: center;
    align-items: top;
    height: 100vh;*/
    color: white;
}

@keyframes pageEnter {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes pageExit {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        display: none;
    }
}

#blackScreenforTransition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111111;
    z-index: 9999;
    animation: pageEnter 0.7s cubic-bezier(0.2, 1, 0.4, 1) forwards;
}


#topBanner {
    height: 40px;
    color: white;
    background-color: #32323260;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.pageTab {
    display: inline-flex;
    width: fit-content;
    height: 100%;
    background-color: #00000050;
    /*border-radius: 8px 8px 0px 0px;*/
    /*border-right: 1px;
    border-color: #ffffff50;*/
    padding: 2px 10px;
    text-align: center;
    font-weight: normal;
    align-items: center;
    color: white;
    text-decoration: none;
}

.pageTabSearch {
    display: inline-flex;
    width: fit-content;
    height: 100%;
    background-color: #00000075;
    /*border-radius: 8px 8px 0px 0px;*/
    /*border-right: 1px;
    border-color: #ffffff50;*/
    padding: 2px 10px;
    text-align: center;
    font-weight: normal;
    align-items: center;
    color: white;
    text-decoration: none;
}

.fakeBorder {
  position: relative; /* Establishes a positioning context for the pseudo-element */
  z-index: 999;
}

.fakeBorder::after {
  content: "";
  position: absolute;
  right: 0;
  top: 15%;            /* Positions the border away from the top edge */
  height: 80%;         /* Sets the precise custom height of your "border" */
  width: 1px;          /* Sets the border thickness */
  background: #777777;    /* Sets the border color */
}

#mainLayout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

/*OVERALL POSITIONING ^^^^^*/

#albumDetailsContainer {
    padding: 1rem;
    padding-top: 3rem;
    /*justify-content: center;*/
    width: 25%;
    background-color: #5b5b5b;
    flex-shrink: 0;
    min-height: 100dvh;
    min-width: 200px;
}

#tracklistContainer {
    padding: 5px;
    align-items: center;
    margin-top: 1rem;
    flex: 1;
}

h2 {
    color: #efeb07;
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
}

.tracklist-title {
    font-size: 1.7rem;
    color: var(--tracklistNumColor);
    margin-bottom: 40px;
    font-weight: bold;
    font-family: jetbrains;
}

#tracklist {
    font-size: 1rem;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table-number {
    font-family: jetbrains;
    color: var(--tracklistNumColor);
    width: 1.5rem;
    padding: 5px 0px;
    padding-right: 3px;
    text-align: right;
}

.table-title {
    width: 30%;
    padding: 5px 0px;
}

.table-rating {
    padding: 5px 15px;
    text-align: center;
}

.table-rating-inside {
    width: 2rem;
    color:black;
    font-weight: bold;
    background-color: var(--tracklistNumColor);
    border-radius: 7px;
    padding: 0.2rem 0.7rem;
    text-align: center;

}

.table-comments {
    font-weight: light;
    color: #cdcdcd;
    padding: 5px 0px;
    width: 70%;
}

.table-comments-input {
    background-color: #ffffff00;
    border: none;
    font-weight: light;
    color: #cdcdcd;
    font-size: 1rem;
    field-sizing: fixed;
    width: 100%;
}

.table-ratings-input {
    background-color: #ffffff00;
    border: none;
    font-weight: bold;
    color: #000000;
    font-size: 1rem;
    field-sizing: fixed;
    width: 1.7rem;
    text-align: center;
}

/*TITLES AND INPUT INFO vvvvvvvvv*/

#title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    width: 100%
}

input#titleInput {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #ffffff00;
    border: none;
    color: #ffffff;
    text-align: center;
    width: 100%;
    
}

input#titleInput:hover {
    color: #efeb07;
}


span#artist {
    /*display: inline-block;*/
    font-size: 1.2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: right;
}

input#artistInput {
    font-size: 1.2rem;
    background-color: #ffffff00;
    border: none;
    color: #ffffff;
    overflow-x: scroll;
    text-align: right;
    max-width: 40%;
    min-width: 10%;
    field-sizing: content;
    
    
}

input#artistInput:hover {
    color: #efeb07;
}


span#year {
    /*display: inline-block;*/
    font-size: 1.2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: left;
    
}

input#yearInput {
    font-size: 1.2rem;
    background-color: #ffffff00;
    border: none;
    color: #ffffff;
    overflow-x: scroll;
    text-align: left;
    max-width: 40%;
    min-width: 10%;
    field-sizing: content;
    
}

input#titleInput::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

input#yearInput::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

input#artistInput::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

input#yearInput:hover {
    color: #efeb07;
}

#coverContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: #11111150;
    aspect-ratio: 1/1;
    filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.2));
}

#cover {
    display: block;
    margin-left: none;
    margin-right: none;
    width:100%;
    border-radius: 5px;
}

#artist-and-year {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    height: 1.5rem;
    text-align: center;
}

#editButtonContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.edit-and-update-btn {
    padding: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 6px;
    position: relative;
    top: 0;
    border-width: 4px;
    border-style: solid;
    width: 6rem;
    border-color: var(--darkAccentColor);
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
}

#editBtn {
    color: var(--darkAccentColor);
    background-color: #ffffff00;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));

}

#saveEditsBtn {
    color: white;
    background-color: var(--darkAccentColor);
}

/* COLOR PALETTE DIV vvvvvvvvv */

#paletteColorButton {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: #ffffff20;
    border-width: 2px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

#paletteContainerMaster
{
    width: 70%;
    padding: 10px 5px;
    background-color: #00000030;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#changePaletteContainer {
    padding: 10px 5px;
    margin-left: auto;
    margin-right: auto;
}

#changeSelectedColorForPaletteBtn {
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
}

#changeSelectedColorForPaletteLabel {
    color: var(--tracklistNumColor);
    font-weight: bold;
}

#switchIcon {
    fill: var(--tracklistNumColor);
}